<% flash.each do |key, value| %>
<%= content_tag :div, value, class: "flash flash-#{key}" %>
<% end %>

<div class="container">
	<div class="row">
    <div class="col-xs-3">
      <%= render 'users/userinfo', user:@user %>

      <%= render 'users/newbook', book:Book.new %>
    </div>

    	<div class="col-xs-9">
    		<h2>Book detail</h2>
        <div class="detail_comment">
    			<%= render 'detail', book: @userbook %>
        </div>
                <ol id="comments_area">

                  <%= render partial: 'book_comments/index', locals: { comments: @comments } %>
                </ol>
                <%= render partial: 'book_comments/form', locals: { book_comment: @book_comment, userbook: @userbook } %>
    	</div>
    </div>
  </div>