<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <header>
            <nav class="navbar navbar-dark" style="background-color: black;">
                <span class="navbar-brand mb-0 h1">Bookers</span>
                <% if user_signed_in? %>
                    <ul class="navbar-nav mr-auto">
                        <li><%= link_to 'Home', "#" %></li>
                        <li><%= link_to 'Users', edit_user_registration_path %></li>
                        <li><%= link_to 'Books', "#" %></li>
                        <li><%= link_to 'logout', destroy_user_session_path, method: :delete %></li>
                    </ul>>
                    
            <% else %>
                    <ul class="navbar-nav mr-auto">
                        <li><%= link_to 'Home', "#" %></li>
                        <li><%= link_to 'About', "#" %></li>
                        <li><%= link_to 'sign up', new_user_registration_path %></li>
                        <li><%= link_to 'login', new_user_session_path %></li>
                <% end %>
            </nav>
        </header>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
  </body>
</html>
